.loginpage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-color: var(--color-dark--1);
  padding: 2.5rem 5rem;
}

.loginpage form {
  width: 50rem;
  background-color: var(--color-dark--2);
  padding: 2rem 3rem;
  border-radius: 7px;
  margin: 8rem auto;
}

.loginpage label {
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.loginpage input {
  display: block;
  border-radius: 7px;
  width: 100%;
  padding: 1.2rem;
  outline: none;
  margin-bottom: 1.5rem;
  border: none;
  background-color: var(--color-light--3);
}

.loginpage input:focus-visible {
  background-color: #fff;
}

.loginpage input::placeholder {
  font: inherit;
}
