.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  color: #fff;
  background: none;
  border: 1px solid currentColor;
  align-self: start;
}

.position {
  position: absolute;
  bottom: 3%;
  left: 50%;
  font-weight: 700;
  transform: translateX(-50%);
  color: #333;
  z-index: 111111111;
  background-color: var(--color-brand--2);
}
