.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  color: var(--color-light--2);
  font-size: 1.5rem;
  font-weight: 600;
}

/** LOok for a global class active and give it this styling**/
.nav a:global(.active) {
  color: green;
}

.ctaLink:link,
.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0) !important;
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
